<footer>
		
		<div class="last-div">
			<div class="container">
			
					<div class="row">
							<div class="copyright">
						&copy; Skull Crushers
					</div>	
					<ul class="social-network">
						<li><a href="#" data-placement="top" title="Facebook"><i class="fab fa-facebook fa-1x"></i></a></li>
						<li><a href="#" data-placement="top" title="Twitter"><i class="fab fa-twitter fa-1x"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fab fa-linkedin fa-1x"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fab fa-pinterest fa-1x"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fab fa-google-plus fa-1x"></i></a></li>
					</ul>
				</div>
			</div>
		
		</div>			
	</footer>
