<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
</title>
<% include ../views/partials/headerTags %>
</head>

<body ng-app="trApp.Dashboard">
    <% include ../views/partials/content %>
<div class="loading">Loading&#8230;</div>
</body>

</html>