<style>
    .emonji {
        width: 75px;
        height: 80px;
        padding: 8px;
        margin: 0px;
        float: left;
        text-align: center;
    }

    .info {
        position: relative;
        height: 80px;
        text-align: left;
        padding: 4px 0px 10px 10px;
    }

    #profileImage {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: #512DA8;
        font-size: 50px;
        color: #fff;
        text-align: center;
        line-height: 80px;
    }

    .profileImage2 {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #512DA8;
        font-size: 28px;
        color: #fff;
        text-align: center;
        line-height: 48px;
        margin-top: 7px;
    }

    .headmail {
        border-bottom: 2px solid;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: 600;
    }

    .btl {
        float: left;
        margin-right: 10px;
    }

    .ctag {
        font-size: 12px;
        padding: 1px 4px 1px 4px;
    }
</style>
<div class="row">
    <div class="col-6 col-md-3" style="padding:0px">
        <ul class="list-group">
            <li class="list-group-item list-group-item-warning">
                Inbox
                <span style="float:right;font-size:20px" ng-click="create_click()">
                    <i class="fas fa-location-arrow text-info"></i>
                </span>
            </li>
            <li class="list-group-item" ng-repeat="obj in message" style="padding:0px" ng-click="body_click(obj)">
                <div class="emonji">
                    <div class="profileImage2" style="float:left">
                        {{obj.from.emailAddress.name | limitTo:1 | uppercase}}
                    </div>
                    <!-- <img style="height:60%"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb-iRWIwPsCo9-ZSm_RxGJ4esPPycgOx9yQ4tFy6He-7JewgTM5g" /> -->
                </div>
                <div class="info">
                    <div>
                        <span style="font-weight: 600;font-size: 14px">{{obj.from.emailAddress.name}}</span>
                    </div>
                    <div>
                        <span style="font-weight: 400;font-size: 14px">{{obj.subject}}</span>
                    </div>
                    <div>
                        <div ng-repeat="emo in obj.result" style="float:left">
                            <button type="button" ng-if="emo === 'Anger'"
                                class="btn btn-danger btn-sm btl ctag">{{emo}}</button>
                            <button type="button" ng-if="emo === 'Sadness' || emo === 'Tentative'"
                                class="btn btn-warning btn-sm btl ctag">{{emo}}</button>
                            <button type="button" ng-if="emo === 'Good'"
                                class="btn btn-success btn-sm btl ctag">{{emo}}</button>
                            <button type="button" ng-if="emo === 'Analytical'"
                                class="btn btn-info btn-sm btl ctag">{{emo}}</button>
                        </div>
                        <div style="float:left" ng-if="obj.result.length == 0">
                            <button type="button" class="btn btn-secondary btn-sm btl ctag">No Emotions</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-12 col-md-9" style="padding:10px" ng-if="create == false">
        <div class="col-md-12" style="float:left">
            <div id="profileImage" class="col-md-2" style="float:left">{{from | limitTo:1 | uppercase}}</div>
            <div class="col-md-8" style="float:left">
                <div class="col-md-12" style="float:left;padding-top:5px;font-size:14px;font-weight:600;">
                    {{from | uppercase}}</div>
                <div class="col-md-12" style="float:left;font-size:14px">{{from_email}}</div>
                <div class="col-md-12" style="float:left">
                    <div style="font-weight:600;">{{sub}}</div>
                </div>
            </div>
            <div class="col-md-2" style="float:right;text-align:right">
                <button ng-click="loadTask(sub,mailraw)" data-toggle="modal" data-target="#exampleModalLong" type="button" class="btn btn-primary">Add as a Task</button>
            </div>
        </div>
        <div class="col-md-12" style="float:left;font-size:12px;padding-top:8px;padding-bottom:10px">
            <span style="float:left">To : </span>
            <div ng-repeat="rec in to" style="float:left">
                {{rec.emailAddress.name}}<{{rec.emailAddress.address}}>
            </div>
        </div>
        <!-- <div class="col-md-12" style="float:left;font-size:12px;padding-top:8px;padding-bottom:10px">
            <div ng-repeat="em in emrel" style="float:left" ng-if="emrel.length != 0">
                <button type="button" ng-if="em === 'Anger'" class="btn btn-danger btn-sm btl">{{em}}</button>
                <button type="button" ng-if="em === 'Sadness' || em === 'Tentative'"
                    class="btn btn-warning btn-sm btl">{{em}}</button>
                <button type="button" ng-if="em === 'Good'" class="btn btn-success btn-sm btl">{{em}}</button>
                <button type="button" ng-if="em === 'Analytical'" class="btn btn-info btn-sm btl ">{{em}}</button>
            </div>
            <div style="float:left" ng-if="emrel.length == 0">
                <button type="button" class="btn btn-secondary btn-sm btl ">No
                    Emotions</button>
            </div>
        </div> -->
        <div class="col-md-12" style="padding:20px 10px 10px 15px;float:left;border-top: 2px solid;">
            <p ng-bind-html="mailcontent"></p>
        </div>

    </div>

    <div class="col-12 col-md-9" style="padding:10px" ng-if="create == true">
        <div class="col-md-12 headmail">
            Compose Mail
            <button type="button" class="btn btn-danger" style="float:right" ng-click="discard()">Discard</button>
            <button type="button" class="btn btn-primary" style="float:right;margin-right:5px"
                ng-if="emarray.length > 0" ng-click="send(frm)">Recheck</button>
            <button type="button" class="btn btn-success" style="float:right;margin-right:5px"
                ng-click="sen(frm)">Send</button>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">To</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter To recipients" aria-label="to"
                aria-describedby="basic-addon1" ng-model="frm.to">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">cc</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter cc list" aria-label="cc"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">bcc</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter bcc list" aria-label="bcc"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Subject</span>
            </div>
            <input type="text" class="form-control" placeholder="Please enter subject of mail" aria-label="Subject"
                aria-describedby="basic-addon1" ng-model="frm.sub">
        </div>
        <div class="col-md-12" ng-if="emarray.length > 0">
            <div class="alert col-md-12" ng-class="mal_stat" role="alert" style="float:left">
                <div ng-repeat="emo in emarray" style="float:left">
                    <button type="button" ng-if="emo === 'Anger'" class="btn btn-danger btn-sm btl">{{emo}}</button>
                    <button type="button" ng-if="emo === 'Sadness' || emo === 'Tentative'"
                        class="btn btn-warning btn-sm btl">{{emo}}</button>
                    <button type="button" ng-if="emo === 'Good'" class="btn btn-success btn-sm btl">{{emo}}</button>
                    <button type="button" ng-if="emo === 'Analytical'" class="btn btn-info btn-sm btl">{{emo}}</button>
                </div>
                <div>To proceed with this tone please click Send button again</div>
            </div>


        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" rows="5" id="message" ng-model="frm.msg"></textarea>
        </div>

    </div>

    <!-- <div class="form-group">
        <label for="email">Your Email</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="email" placeholder="Enter your Email"/>
        </div>
    </div> -->
    <!-- <div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <p>asdfasdashfhsaf lashhflksad lahfj jahsfjkhasdjf kjhasddf a kjsdfjkadsh</p>
        </div>
        <div class="col-md-8">
        <h2>Inbox</h2>
        <table class="table" ng-if="loaded">
            <thead class="thead-light">
                <th scope="col">From</th>
                <th scope="col">Subject</th>
                <th scope="col">Received</th>
            </thead>
            <tbody>
                <tr ng-repeat="obj in message">
                    <td title="{{obj.from.emailAddress.address}}">{{obj.from.emailAddress.name}}</td>
                    <td>{{obj.subject}}</td>
                    <td>{{obj.receivedDateTime}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    </div>
</div> -->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" id="name" ng-model="Name">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" id="Description" ng-model="Description" style="min-height:200px;"></textarea>
                </div>
                <div class="form-group">
                    <label>Priority</label>
                    <input class="form-control" id="allotedTime" ng-model="AllottedTime">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addTask()">Add Task</button>
            </div>
        </div>
    </div>
</div>