<style>
    .carbg{
        background-color: #efeeee !important;
    }
</style>
<div class="container" style="margin-top:20px;">

    <div class="row">

        <div class="main">

            <div class="view">
                <div class="viewHeader">
                    <div class="title">Manage Tasks</div>
                    <div class="functions">
                        <div class="button active" ng-click="adClick()" data-toggle="modal"
                            data-target="#exampleModalLong">Add New Task
                        </div>

                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-sm-6" ng-repeat="task in TaskList">
                            <div class="card" ng-class="{carbg: task.AssignedTo == 'skullkrushers07@outlook.com'}">
                                <div class="card-body" ng-click="update(task)" data-toggle="modal" data-target="#exampleModalLong">
                                    <h5 style="border-bottom: 1px solid gray;padding-bottom: 4px;" class="card-title">{{task.Name}}</h5>
                                    <p style= "height: 52px;overflow: hidden;" class="card-text">{{task.Description}}</p>
                                    <div><b>Assigned By:</b> {{task.AssignedBy}}</div>
                                    <div style="margin-bottom:5px;"><b>Assigned To:</b> {{task.AssignedTo}}</div>
                                    <div style="float:left;margin-right:10px;">
                                        <button type="button" ng-if="task.Status === 'Pending'"
                                            class="btn btn-danger btn-sm btl ctag">{{task.Status}}</button>
                                        <button type="button" ng-if="task.Status === 'InProgress'"
                                            class="btn btn-warning btn-sm btl ctag">{{task.Status}}</button>
                                        <button type="button" ng-if="task.Status === 'Completed'"
                                            class="btn btn-success btn-sm btl ctag">{{task.Status}}</button>
                                    </div>
                                    <div style="float:left;margin-right:10px;">
                                        <button type="button" ng-if="task.AllottedTime === 'High'"
                                            class="btn btn-danger btn-sm btl ctag">{{task.AllottedTime}} Priority</button>
                                        <button type="button" ng-if="task.AllottedTime === 'Medium'"
                                            class="btn btn-warning btn-sm btl ctag">{{task.AllottedTime}} Priority</button>
                                        <button type="button" ng-if="task.AllottedTime === 'Low'"
                                            class="btn btn-primary btn-sm btl ctag">{{task.AllottedTime}} Priority</button>
                                    </div>
                                    <!-- <p class="card-text">{{task.Status}}</p> -->
                                    <!-- <p class="card-text">{{task.AllottedTime}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Status</th>
                                <th scope="col">Priority </th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="task in TaskList">
                            <tr ng-click="update(task)" data-toggle="modal" data-target="#exampleModalLong">
                                <th>{{task.Name}}</th>
                                <td>{{task.Description}}</td>
                                <td>{{task.Status}}</td>
                                <td>{{task.AllottedTime}}</td>
                            </tr>

                        </tbody>
                    </table> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 ng-if="isupdate != true" class="modal-title" id="exampleModalLongTitle">Add Task</h5>
                <h5 ng-if="isupdate == true" class="modal-title" id="exampleModalLongTitle">View Task</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
                <div>
                    <button ng-if="isupdate != true" type="button" class="btn btn-success" ng-click="addTask()">Add
                        Task</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" id="name" ng-model="Name">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" id="Description" ng-model="Description"></textarea>
                </div>
                <div class="form-group">
                    <label>Priority</label>
                    <select class="form-control" id="allotedTime" ng-model="AllottedTime">
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                    <!-- <input class="form-control" id="allotedTime" ng-model="AllottedTime"> -->
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select class="form-control" id="status" ng-model="Status">
                        <option value="Pending">Pending</option>
                        <option value="InProgress">InProgress</option>
                        <option value="Completed">Completed</option>
                    </select>
                    <!-- <input class="form-control" id="status" ng-model="Status"> -->
                </div>
                <div class="form-group">
                    <label>Group</label>
                    <!-- <input class="form-control" id="status" ng-model="Status" disabled> -->
                    <select class="form-control" id="group" ng-model="Group">
                        <option value="DataHub">Data Hub</option>
                        <option value="FCM">FCM</option>
                    </select>
                </div>
                <div class="form-group" ng-hide="isupdate == true">
                    <label>Self Assign</label>
                    <input type="checkbox" id="selfc" ng-click="as_self()" ng-model="selfc"
                        aria-label="Checkbox for self Assign">
                </div>
                <div class="form-group">
                    <label>Assign To</label>
                    <input class="form-control" id="AssignedTo" ng-model="AssignedTo" ng-disabled="selfc">
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button ng-if="isupdate != true" type="button" class="btn btn-primary" ng-click="addTask()">Add
                    Task</button>
            </div> -->
        </div>
    </div>
</div>