<div class="card" style="width:27%;margin: 50px auto;">
    <div class="card-header">
        <span>Please Log In, or
            <a ui-sref="signup">Sign Up</a>
            <span>
    </div>
    <div class="card-block">
        <div class="container">
            <div class="row">
                <div class="main" style="width:100%;">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a href="#" class="btn btn-primary btn-block">Facebook</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a href="#" class="btn btn-info btn-block">Google</a>
                        </div>
                    </div>
                    <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <label for="inputUsernameEmail">Username</label>
                            <input type="text" class="form-control" id="inputUsername" ng-model="username" required="required" ng-focus="invalidUser=false"></input>
                        </div>
                        <div class="form-group">
                            <a class="pull-right" href="#">Forgot password?</a>
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" ng-model="password" required="required" ng-focus="invalidUser=false"  ng-keydown="$event.keyCode === 13 && ValidateAndLogin()"></input>
                        </div>
                        <div class="checkbox pull-right">
                            <label>
                                <input type="checkbox"> Remember me </label>
                        </div>
                        <span class="btn btn btn-primary" ng-click="ValidateAndLogin()">
                            Log In
                        </span>
                        </br>
                        </br>
                        <div class="alert alert-danger alert-dismissable fade show" ng-if="invalidUser">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <span>Invalid User.</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>