<form>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Blog Title</label>
        <input type="text" class="form-control border-input" placeholder="Title" ng-model="title">
      </div>
    </div>
  </div>
  <div class="col-md-12">
      <div class="form-group">
        <label>Blog Title</label>
       <textarea style="width:100%" ng-model="previewText" maxlength="1000"></textarea>
      </div>
    </div>
  </div>
   <div class="col-md-12">
      <div class="form-group">
        <label>Tags</label>
        <tag-input taglist='listone'></tag-input>
      </div>
    </div>
  </div>
  <div id="summernote"></div>
  <div class="text-center p-4">
    <button type="submit" class="btn btn-info btn-fill btn-wd" ng-click="addOrUpdatePost()">{{buttonText}}Post</button>
  </div>
  <div class="clearfix"></div>
</form>
